:root {
    color-scheme: light dark;
}

body {
    width: 500px;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

span {
    font-feature-settings: "tnum"; /* Enables tabular numbers */
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
